.cover{
  margin: 92px 48px 0 48px;
}

@media screen and (max-width: 1140px) {
  .cover {
    margin: 92px 0 0 0;
  }
}

@media screen and (max-width: 568px) {
  .cover {
    margin: 66px 0 0 0;
  }
}
